{% extends "layout.html" %}
{% block body %}
<article>
    <h1>Course Enrolment</h1>
    <section>
        <div>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('loginStudent') }}">login-student</a></li>
                <li><a href="{{ url_for('registerStudent') }}">register-student</a></li>
                <li><a href="{{ url_for('loginTeacher') }}">login-teacher</a></li>
                <li><a href="{{ url_for('registerTeacher') }}">register-teacher</a></li>
                {% if g.user.is_authenticated%}
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% endif %}
                {% if not g.user.is_authenticated%}
                {% endif %}
            </ul>
        </div>
    </section>
</article>
{% endblock %}
