{% extends "layout.html" %}
{% block body %}
  <form action="" method=post>
    <h1>Login Student </h1>
    <div>
        <div>
          <input autofocus type="text" id="username" name="username" class="input-xlarge"
            placeholder="Enter Username" required>
        </div>
    </div>

    <div>
        <div>
          <input type="password" id="password" name="password" class="input-xlarge"
            placeholder="Enter Password" required>
        </div>
    </div>

    <div>
        <div>
          <button type="submit" class="btn btn-success">Signin</button>
        </div>
    </div>
  </form>
{% endblock %}
