{% extends "layout.html" %}
{% block body %}
  <form action="" method=post >
    <h1>Register Teacher</h1>
    <div>
        <div>
          <input autofocus type="text" id="username" name="username"
            placeholder="Enter Username" value="{{ request.form.username }}"
            required>
        </div>
    </div>

    <div>
        <div>
          <input type="password" id="password" name="password"
            placeholder="Enter Password" value="{{ request.form.password }}"
            required>
        </div>
    </div>

    <div>
        <div>
          <input type="email" id="email" name="email"
            placeholder="Enter Email" value="{{ request.form.username }}"
            required>
        </div>
    </div>

    <div>
        <div>
          <button type="submit" class="btn btn-success">Signup</button>
        </div>
    </div>
  </form>
{% endblock %}
