{% extends "layout.html" %}
{% block body %}
  <form action="" method=post class="form-horizontal">
    <h1>Register Teacher</h1>
    <div class="control-group">
        <div class="controls">
          <input type="text" id="username" name="username"
            placeholder="Enter Username" value="{{ request.form.username }}"
            required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <input type="password" id="password" name="password"
            placeholder="Enter Password" value="{{ request.form.password }}"
            required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <input type="email" id="email" name="email"
            placeholder="Enter Email" value="{{ request.form.username }}"
            required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Signup</button>
        </div>
    </div>
  </form>
{% endblock %}
